<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrador</title>
    <link rel="stylesheet" href="/css/admimHome.css">
</head>
<body>
        <!--Cabeçalho-->
        <header>
            <img src="/img/logoV3.png" alt="Logo do Alimenta Mais" class="logo">
            <div class="buttons-nav">
                <a href="/"><img src="/img/sair.svg" alt="Icone para Sair"></a>
            </div>
        </header>
        
        <Section>
            <h2 class="titulo-inicial">Olá, Administrador</h2>
        </h2> 

        <div class="container-adm">
            <div class="container-validar">
                <div class="validar">
                    <a href="/validar"><img src="/img/rotulo.png" alt="">VALIDAR</a>
                </div>
                <div class="graficoCadastro"></div>
            </div>
        </div>
        <div class="container-grafico">
            <div class="doador-grafico"></div>
            <div class="benef-grafico"></div>
        </div>
        </Section>

</body>
</html>