<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beneficiario</title>
    <link rel="stylesheet" href="/css/login_formulario.css">
    <link rel="stylesheet" href="/css/Form.css">
</head>

<body>
    <div class="container">
        <div class="container-form">
            <img src="/img/logov2.png" alt="Logo" class="logo">
            <h2>FORMULÁRIO BENEFICIÁRIO</h2>
            <form action='/cadastroBeneficiario' method='post'>
                <input type="text" id="nome" name="nome" placeholder="Nome Completo do Responsável" required>

                <input type="text" id="benef_documento" name="benef_documento" placeholder="CPF do Responsável" required>

                <input type="text" id="benef_telefone" name="benef_telefone" placeholder="Telefone" required>

                <input type="date" id="benef_data_nasc" name="benef_data_nasc" placeholder="data de Nascimento" required>

                <input type="email" id="benef_email" name="benef_email" placeholder="E-mail" required>

                <input type="password" id="benef_senha" name="benef_senha" placeholder="Senha" required>

                <input type="text" id="benef_cep" name="benef_cep" placeholder="CEP" required onblur="buscaCep(this.value)">
                
                <input type="text" id="benef_cidade" name="benef_cidade" placeholder="Cidade" required>

                <input type="text" id="benef_UF" name="benef_UF" placeholder="Estado" required>

                <input type="text" id="benef_endereco" name="benef_endereco" placeholder="Endereço">

                <input type="text" id="benef_numero" name="benef_numero" placeholder="Nº">

                <input type="text" id="benef_bairro" name="benef_bairro" placeholder="Bairro">

                <input type="text" id="benef_complemento" name="benef_complemento" placeholder="Complemento">

                <select name="renda" id="rendaFamiliar">
                    <option value="renda">Renda Familiar</option>
                    <option name="renda">1 a 2 Salários mínimos</option>
                    <option name="renda">2 a 3 Salários mínimos</option>
                    <option name="renda">3 a 4 Salários mínimos</option>
                    <option name="renda">4 ou mais Salários mínimos</option>
                </select>

                <div class="buttons">
                    <a href="/loginBenef" class="botao laranja">Voltar</a>
                    <button type="submit" class="botao verde">Concluir</button>
                </div>
            </form>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.js"></script>
    <script src="/js/formBenef.js"></script>
</body>

</html>
