<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beneficiario</title>
    <link rel="stylesheet" href="/css/login_formulario.css">
    <link rel="stylesheet" href="/css/Form.css">
</head>

<body>
    <div class="container">
        <div class="container-form">
            <img src="/img/logov2.png" alt="Logo" class="logo">
            <h2>FORMULÁRIO BENEFICIÁRIO</h2>
            <form action='/cadastroBeneficiario' method='post' id="form">
                
                <div class="form">
                    <div class="inputDiv">
                        <input type="text" id="nome" name="nome" placeholder="Nome Completo do Responsável">
                    <span>Digite seu nome completo.</span>
                    </div>
                    <div class="inputDiv">
                        <input type="text" id="benef_documento" name="benef_documento" placeholder="CPF do Responsável" >
                      <span>Digite um CPF válido.</span>
                    </div>
                    <div class="inputDiv">
                        <input type="text" id="benef_telefone" name="benef_telefone" placeholder="Telefone">
                    </div>
                    <div class="inputDiv">
                        <input type="date" id="benef_data_nasc" name="benef_data_nasc" placeholder="Data de Nascimento">
                      <span>Para fazer cadastro é preciso ter pelo menos 18 anos.</span>
                    </div>
                    <div class="inputDiv">
                        <input type="email" id="benef_email" name="benef_email" placeholder="E-mail">
                      <span>Digite um email válido.</span>
                    </div>
                    <div class="inputDiv">
                        <input type="password" id="benef_senha" name="benef_senha" placeholder="Senha">
                      <span>Senha precisa ter mais de 6 caracteres.</span>
                    </div>
                    <div class="inputDiv">
                        <input type="text" id="benef_cep" name="benef_cep" placeholder="CEP" onblur="buscaCep(this.value)">
                    </div>
                    
                    <div class="inputDiv">
                        <input type="text" id="benef_cidade" name="benef_cidade" placeholder="Cidade">
                    </div>
                    <div class="inputDiv">
                        <input type="text" id="benef_UF" name="benef_UF" placeholder="Estado">
                    </div>
                    <div class="inputDiv">
                        <input type="text" id="benef_endereco" name="benef_endereco" placeholder="Endereço">
                    </div>
                    <div class="inputDiv">
                        <input type="text" id="benef_numero" name="benef_numero" placeholder="Nº">
                    </div>
                    <div class="inputDiv">
                        <input type="text" id="benef_bairro" name="benef_bairro" placeholder="Bairro">
                    </div>
                    <div class="inputDiv">
                        <input type="text" id="benef_complemento" name="benef_complemento" placeholder="Complemento">
                    </div>
                    <div class="inputDiv">
                        <select name="renda" id="rendaFamiliar">
                            <option value="renda">Renda Familiar</option>
                            <option name="renda">Até 1 Salário Mínimo</option>
                            <option name="renda">2 ou mais Salários Mínimos</option>
                        </select>
                        <span>Cadastro permitido apenas para pessoas com renda de até 1 salário mínimo.</span>
                    </div>
                    <div class="inputDiv">
                        <select name="qtd_familiares" id="qtd_familiares">
                            <option value="qtd_familiares">Quantidade de familiares na residência</option>
                            <option name="qtd_familiares">1 a 3</option>
                            <option name="qtd_familiares">4 ou mais</option>
                        </select>
                        <span>Cadastro permitido apenas para famílias com até 1 salário mínimo de renda e 4 ou mais moradores.</span>
                    </div>
                </div>

                <div class="buttons">
                    <a href="/loginBenef" class="botao laranja">Voltar</a>
                    <button type="submit" class="botao verde">Concluir</button>
                </div>
            </form>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.js"></script>
    <script src="/js/formBenef.js"></script>
</body>

</html>
