<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beneficiario</title>
    <link rel="stylesheet" href="/css/beneficiario.css">
</head>
<body>
    <header>
        <img class="logo" src="/img/logoV3.png" alt="">
        <button class="logout"><a href="/">Sair</a></button>
    </header>
    <div class="main-section">
        <h2 class="titulo">Inicio</h2>
        <div class="container-funcoes">
            <div class="container-atalho">
                <h3 class="funcoes">Atalhos</h3>
                <div class="atalho">
                    <button><a href="/solicitar"><img src="/img/solicitar-doacao.png" alt=""><br>Solicitar Doação</a></button>
                    <button><a href="/dica"><img src="/img/Dicas.png" alt=""><br>Dicas de Nutrição</a></button>
                </div>
            </div>
            <div class="container-notificacao">
                <h3 class="funcoes">Notificações</h3>
                <div class="notificacao"></div>
            </div>
        </div>
        <div class="container-historico">
            <div class="historico">
                <h3 class="funcoes">Histórico de Solicitações</h3>
            </div>
        </div>
    </div>
</body>
</html>
