<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="/css/login_formulario.css">
</head>
<body>
    <div class="container">
        <img src="/img/logo.png" alt="" class="logo">
        <h2>CADASTRO</h2>
        <button class="forms"><a href="/doador">DOADOR</a></button>
        <button class="forms"><a href="/voluntario">VOLUNTÁRIO</a></button>
        <button class="forms"><a href="/beneficiario">BENEFICIÁRIO</a></button>
        <button class="entrar-voltar"><a href="/" style="text-decoration: none; color: white;">Voltar</a></button> <br>
        </div>
</body>
</html>