<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doador</title>
    <link rel="stylesheet" href="/css/doador.css">
</head>

<body>
        <header>
        <img class="logo" src="img/logoV3.png" alt="">
        <button class="profile" id="profile"><img src="/img/perfil.svg" alt=""></button>
        <button class="logout"><a href="/"><img src="/img/sair.svg" alt=""></a></button>
    </header>
    <div class="main-section">
        <h2 class="titulo">Inicio</h2>
        <div class="container-funcoes">
            <div class="container-atalho">
                <h3 class="funcoes">Atalhos</h3>
                <div class="atalho">
                    <button><a href="/fazerdoacao"><img src="/img/icone-doacao.png" alt=""><br>FazerDoação</a></button>
                </div>
            </div>
            <div class="container-notificacao">
                <h3 class="funcoes">Notificações</h3>
                <div class="notificacao"></div>
            </div>
            <div class="historico">
                <h3 class="funcoes">Histórico de Solicitações</h3>
            </div>
        </div>
        <div class="container-solicitado">
            <div class="mais-solicitado">
                <h3 class="funcoes">Mais Solicitados</h3>
            </div>
        </div>
    </div>

    <div class="perfil" id="perfil">
        <h4>SEU PERFIL</h4>
        <img src="img/profile.png" alt="">
        <div class="info-perfil">
            <label>NOME</label>
        </div>
        <div class="info-perfil">
            <label>EMAIL</label>
        </div>
        <div class="info-perfil">
            <label>ENDEREÇO</label>
        </div>
        <div class="buttons-perfil">
            <button onclick="mostrar()" class="editar"><img src="/img/editar.svg" alt="">EDITAR</button>
            <button class="deletar"><img src="/img/trash.svg" alt="">DELETAR</button>
        </div>
    </div>
    <script src="/js/doador.js"></script>

</body>

</html>
