<!DOCTYPE html>
<html lang="PT-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doador</title>
    <link rel="stylesheet" href="css/Form.css">
</head>

<body>
    <div class="container">
        <div class="container-form">
            <img src="img/logov2.png" alt="Logo" class="logo">
            <h2>FORMULÁRIO DOADOR</h2>
            <form action='/cadastroDoador' method='post'>
                <input type="text" id="nome_razao" name="nome_razao" placeholder="Nome Completo ou Razão Social"
                    required>

                <input type="text" id="doador_documento" name="doador_documento" placeholder="CPF OU CNPJ" required>

                <input type="text" id="doador_telefone" name="doador_telefone" placeholder="Telefone" required>

                <input type="date" id="doador_data_nasc" name="doador_data_nasc" placeholder="data de Nascimento"
                    required>

                <input type="email" id="doador_email" name="doador_email" placeholder="E-mail" required>

                <input type="text" id="doador_senha" name="doador_senha" placeholder="Senha" required>

                <input type="text" id="doador_documento" name="doador_cep" placeholder="CEP" required
                    onblur="buscaCep(this.value)">

                <input type="text" id="doador_cidade" name="doador_cidade" placeholder="Cidade" required>

                <input type="text" id="doador_UF" name="doador_UF" placeholder="Estado" required>

                <input type="text" id="doador_endereco" name="doador_endereco" placeholder="Endereço">

                <input type="text" id="doador_numero" name="doador_numero" placeholder="Nº">

                <input type="text" id="doador_bairro" name="doador_bairro" placeholder="Bairro">

                <input type="text" id="doador_complemento" name="doador_complemento" placeholder="Complemento">

                <div class="container-doacoes">
                    <h3>Frequência das Doações</h3>
                    <div class="checkbox-label">
                        <input type="radio" name="frequencia_doacao" id="unica" value="Unica">
                        <label for="unica">Única</label>
                    </div>
                    <div class="checkbox-label">
                        <input type="radio" name="frequencia_doacao" id="recorrente" value="Recorrente">
                        <label for="recorrente">Recorrente</label>
                    </div>
                </div>
                
                <div class="container-contato">
                    <h3>Preferência de Contato</h3>
                    <div class="checkbox-label">
                        <input type="radio" name="preferencia_contato" id="Email" value="Email">
                        <label for="Email">Email</label>
                    </div>
                    <div class="checkbox-label">
                        <input type="radio" name="preferencia_contato" id="sms" value="SMS">
                        <label for="sms">SMS</label>
                    </div>
                </div>
                
                <div class="buttons">
                    <a href="/loginDoador" class="botao laranja">Voltar</a>
                    <button type="submit" class="botao verde">Concluir</button>
                </div>

            </form>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.js"></script>
    <script src="/js/formDoador.js"></script>
</body>

</html>
