<!DOCTYPE html>
<html lang="PT-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doador</title>
    <link rel="stylesheet" href="/css/cadastro.css">
</head>
<body>
    <div class="container">
        <form action="/cadastroDoador" method="POST" id="formCadastro">
            <!-- Div de Informações Pessoais -->
            <div class="input-container">
                <div class="info-pessoais" id="info-pessoais">
                    <h2>CADASTRO - DOADOR</h2>
                    <h3>INFORMAÇÕES PESSOAIS</h3>
                    <input type="text" id="nome_razao" name="nome_razao" placeholder="Nome Completo do Responsável">
                    <input type="text" id="doador_documento" name="doador_documento" placeholder="CPF ou CNPJ">
                    <div class="div-input">
                        <input type="text" id="benef_telefone" name="doador_telefone" placeholder="Telefone">
                        <input type="date" id="doador_data_nasc" name="doador_data_nasc">
                    </div>
                    <div class="emailSenha">
                        <input type="email" id="doador_email" name="doador_email" placeholder="E-mail">
                        <div class="password-container">
                            <input type="password" id="doador_senha" name="doador_senha" placeholder="Senha">
                            <span id="toggle-password" class="eye-icon">
                              <!-- Ícone de olho fechado -->
                              <i id="eye-closed" class="fas fa-eye-slash"></i>
                              <!-- Ícone de olho aberto -->
                              <i id="eye-open" class="fas fa-eye" style="display:none;"></i>
                            </span>
                          </div>     
                    </div>
                    <button type="button" id="button">PRÓXIMO</button>
                </div>
                <!-- Div de Endereço -->
                <div class="endereco" id="endereco" >
                    <h2>CADASTRO - BENEFICIÁRIO</h2>
                    <h3>ENDEREÇO</h3>
                    <div class="input-div-endereco">
                        <input class="menor" type="text" id="doador_cep" name="doador_cep" placeholder="CEP" onblur="buscarCep(this.value)">
                        <input class="maior" type="text" id="doador_cidade" name="doador_cidade" placeholder="Cidade">
                        <input class="menor" type="text" id="doador_UF" name="doador_UF" placeholder="Estado">
                    </div>
                    <input type="text" id="doador_endereco" name="doador_endereco" placeholder="Endereço">
                    <div class="input-div-endereco">
                        <input class="menor" type="text" id="doador_numero" name="doador_numero" placeholder="Nº">
                        <input class="maior" type="text" id="doador_bairro" name="doador_bairro" placeholder="Bairro">
                        <input class="menor" type="text" id="doador_complemento" name="doador_complemento" placeholder="Complemento">
                    </div>
                    <div class="buttons">
                        <button type="button" id="button-voltar" class="voltar">VOLTAR</button>
                        <button type="submit">CADASTRAR</button>
                    </div>
                </div>
                <div class="img-container">
                    <img class="logo" src="/img/LogoV4.png" alt="">
                    <p>CADASTRE SUAS INFORMAÇÕES</p>
                    <img class="cadastro" src="/img/imgCadastro.png" alt="">
                </div>
            </div>
            </div>
        </form>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.js"></script>
    <script src="/js/formDoador.js"></script>
    <script src="js/ocultaSenha.js"></script>
</body>
</html>
