<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Esqueceu a Senha</title>
    <link rel="stylesheet" href="/css/esqueceu.css">
</head>
<body>
    <div class="container">
        <img src="/img/logo.png" alt="Logo" class="logo">

        <h2>Recuperação de Senha</h2>
        <p>Digite seu e-mail para receber um link de recuperação de senha.</p>

        <form action="/esqueceu" method="POST">
            <input type="email" id="email" name="email" required placeholder="Digite seu e-mail" class="input-email">
            <button type="submit" class="botao">Receber Link de Recuperação</button>
        </form>
    </div>
</body>
</html>
