<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/solicitar.css">
</head>

<body>
    <header>
        <img class="logo" src="/img/logoV3.png" alt="">
        <button class="logout"><a href="/"><img src="/img/sair.svg" alt=""></a></button>
    </header>
    <div class="main-section">
        <h2 class="titulo">Fazer Doação</h2>
        <form action="/fazerDoacao" method="post">
            <input type="hidden" name="id_doador" value="<%= userId %>"> <!-- id_doador sendo passado -->
            <div class="informacao-alimento">
                <div class="form-group">
                    <label for="alimento">Alimento</label>
                    <input type="text" id="doacao_alimento" name="doacao_alimento" required>
                </div>
                <div class="form-group">
                    <label for="quantidade">Quantidade ou peso em KG</label>
                    <input type="text" id="doacao_qtd" name="doacao_qtd" required>
                </div>
                <div class="form-group">
                    <label for="observacao">Observação</label>
                    <input type="text" id="doacao_obs" name="doacao_obs">
                </div>
            </div>
            <div class="informacao-entrega">
                <div class="form-dateTime">
                    <label for="data-coleta">Data</label>
                    <input type="date" id="doacao_data" name="doacao_data" required>
                </div>
                <div class="form-dateTime">
                    <label for="hora-coleta">Horário</label>
                    <input type="time" id="doacao_horario" name="doacao_horario" required>
                </div>
                <div id="resultados-radio"></div>
            </div>
            <div class="buttons">
                <a href="/doadorHome" class="voltar">Voltar</a>
                <button class="doar" type="submit">Doar</button>
            </div>
        </form>
        
    <script src="/js/script.js"></script>
</body>


</html>