<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alimenta+</title>
    <link rel="stylesheet" href="/css/inicial.css">
</head>
<body>
    <div class="blur-container">
        <img src="/img/logo.png" alt="" class="logo">
        <h4>Olá e bem-vindo(a) ao Alimenta mais!</h4>
        <p class="texto-inicial">Estamos felizes por você estar aqui para fazer a diferença através da doação de alimentos. Juntos, podemos transformar vidas e combater a fome. Vamos começar essa jornada!</p>
        <p class="texto-login">Como deseja efetuar seu login?</p>
        <div class="buttons">
            <button class="loginDoador"><a href="/loginDoador">SOU DOADOR</a></button>
            <button class="loginBenf"><a href="/loginBenef">SOU BENEFICIÁRIO</a></button>
        </div>
    </div>
</body>
</html>
