<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ALIMENTA MAIS</title>
    <link rel="stylesheet" href="/css/landingPage.css">
    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="/js/reveal.js" defer></script>
</head>

<body>
    <div class="home">
        <div class="textoHome efeito-txt">
            <h1><span>ALIMENTA MAIS</span> Conectando quem tem com quem precisa</h1>
            <p>Uma plataforma que facilita a doação de alimentos, ajudando quem precisa e unindo solidariedade</p>
            <a href="#fim">FAÇA A DIFERENÇA!</a>
        </div>
        <div class="imagemHome efeito-img">
            <img src="/img/imagemHome.png" alt="">
        </div>
    </div>
    <div class="beneficios">
        <h1>Benefícios</h1>
        <p class="benefText">Alimenta Mais conecta pessoas em um movimento de solidariedade, combatendo a fome e o desperdício de alimentos.</p>
        <div class="beneficios-container">
            <div class="beneficio-item-container efeito-card1">
                <div class="beneficios-item"><img src="/img/unidos 1.png" alt=""></div>
                <p>Impacto positivo na comunidade</p>
            </div>
            <div class="beneficio-item-container efeito-card2">
            <div class="beneficios-item"><img src="/img/desperdicio 1.png" alt=""></div>
            <p>Redução do desperdício de alimentos</p>
            </div>
            <div class="beneficio-item-container efeito-card3"> 
            <div class="beneficios-item"><img src="/img/mapa 1.png" alt=""></div>
            <p>Acesso rápido a alimentos essenciais</p>
            </div>
            <div class="beneficio-item-container efeito-card4">
            <div class="beneficios-item"><img src="/img/solidariedade 1.png" alt=""></div>
            <p>Fortalecimento de redes de apoio</p>
            </div>
            <div class="beneficio-item-container efeito-card5">
            <div class="beneficios-item"><img src="/img/receptor 1.png" alt=""></div>
            <p>Processo simples de doação e recebimento</p>
            </div>
        </div>
    </div>
    <div class="fim" id="fim">
        <div class="imagemFim efeito-img">
            <img src="/img/imagemFim.png" alt="">
        </div>
        <div class="textoFim efeito-img">
            <h1>Acesse o Alimenta Mais e faça a diferença!</h1>
            <p>Entre agora e explore todas as funcionalidades da nossa plataforma. Doe ou receba alimentos de forma prática e solidária.</p>
            <a href="/loginDoador">Acesse Aqui!</a>
        </div>
    </div>
    <footer>
        <p>&copy; 2024 Alimenta Mais. Todos os direitos reservados.</p>
    </footer>
</body>
</html>