<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/login_formulario.css">
</head>
<body>
    <div class="container">
            <img src="
            /img/logo.png" alt="" class="logo">
            <form action="/login" method="post">
                <h2>LOGIN</h2>
                <input class="input-login" type="email" id="email" name="email" required placeholder="Digite seu E-mail"><br>
                <input class="input-login" type="password" id="password" name="password" required placeholder="Digite sua Senha"><br>
                <a href="#" class="esqueceu">Esqueceu a senha?</a>
                <button type="submit" class="entrar-voltar">Entrar</button> <br>
                <a href="/cadastro" class="cadastro">Cadastre-se aqui</a>
            </form>
    </div>
</body>
</html>
