<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/login_formulario.css">
</head>
<body>
    <div class="container">
        <img src="/img/logo.png" alt="Logo" class="logo">
        <form action="/loginBenef" method="post">
            <h2>LOGIN BENEFICIÁRIO</h2>
            <input class="input-login" type="email" id="email" name="benef_email" required placeholder="Digite seu E-mail"><br>
            <input class="input-login" type="password" id="password" name="benef_senha" required placeholder="Digite sua Senha"><br>
            <button type="submit" class="botao">Entrar</button><br>
            <a href="/beneficiario" class="cadastro">Cadastre-se aqui</a>
        </form>
    </div>
</body>
</html>
