<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/login.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="input-container">
            <form action="/login" method="post">
                <h1>LOGIN</h1>
                <input type="email" id="email" name="email" placeholder="Email">
                
                <div class="password-container">
                    <input type="password" id="senha" name="senha" placeholder="Senha">
                    <span id="toggle-password" class="eye-icon">
                      <!-- Ícone de olho fechado -->
                      <i id="eye-closed" class="fas fa-eye-slash"></i>
                      <!-- Ícone de olho aberto -->
                      <i id="eye-open" class="fas fa-eye" style="display:none;"></i>
                    </span>
                    <script src="js/ocultaSenha.js"></script>
                  </div>                        
                  
                <div class="select-button">
                        <select name="userType" id="userType">
                            <option value="selecione"> Selecione o tipo de usuário
                            </option>
                            <option value="beneficiario">Beneficiário</option>
                            <option value="doador">Doador</option>
                            <option value="adm">Administrador</option>
                        </select>
                    <div class="botao"><button type="submit">ENTRAR</button></div>
                </div>
            </form>

            <a id="cadastroLink" href="#">CADASTRE-SE AQUI</a>
        </div>
        <div class="img-container"><img src="/img/loginImg.png" alt=""></div>
    </div>

    <script>
        const userTypeSelect = document.getElementById('userType');
        const cadastroLink = document.getElementById('cadastroLink');


        userTypeSelect.addEventListener('change', () => {
            if(userTypeSelect.value ==='selecione') {
                cadastroLink.href = '/#';  
            }
            else if (userTypeSelect.value === 'doador') {
                cadastroLink.href = '/doador';  
                cadastroLink.style.display = 'inline-block'; 
            } else if (userTypeSelect.value === 'beneficiario'){
                cadastroLink.href = '/beneficiario';
                cadastroLink.style.display = 'inline-block'; 
            } else {
                cadastroLink.style.display = 'none'; 
            }
        });
    </script>
</body>


</html>