<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/login_formulario.css">
</head>
<body>
    <div class="container">
            <img src="
            /img/logo.png" alt="" class="logo">
            <form action="/loginDoador" method="post">
                <h2>LOGIN DOADOR</h2>
                <input class="input-login" type="email" id="emaildoador_email" name="doador_email" required placeholder="Digite seu E-mail"><br>
                <input class="input-login" type="password" id="doador_senha" name="doador_senha" required placeholder="Digite sua Senha"><br>
                <a href="/esqueceu" class="esqueceu">Esqueceu a senha?</a>
                <button type="submit" class="botao">Entrar</button> <br>
                <a href="/doador" class="cadastro">Cadastre-se aqui</a>
            </form>
    </div>
    
</body>
</html>
