/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #F0F0F0;
}

/* Header Styling */
header {
    width: 100vw;
    height: 10vh;
    background-color: #2C5555;
    display: flex;
    align-items: center;
    padding: 0 30px;
}

.logo {
    width: 20vw;
}

.logout {
    background-color: transparent;
    border: none;
    margin-left: auto;
}

.logout a {
    color: white;
    font-size: 30px;
    text-decoration: none;
}

/* Main Section Styling */
.main-section {
    display: flex;
    flex-direction: column;
    max-width: 95vw;
    margin: 0 auto;
    padding: 0 120px 0 120px;
}
.titulo {
    font-size: 75px;
    color: #2C5555;
    margin-bottom: 20px;
}

/* Estilos para o formulário */

form {
    display: flex;
    gap: 20px; 
    flex-wrap: wrap;
}

.form-group {
    display: flex;
    flex-direction: column;
    flex: 1; 
    min-width: 200px; 
}

form label {
    color: #2C5555;
    font-weight: bold;
    margin-bottom: 5px; 
}

input[type="text"] {
    background-color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 8px;
    font-size: 16px;
    width: 100%;
}
