/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin: 0 auto;
}

body{
    background-color: #F0F0F0;
    overflow-x: hidden;
}

/* Header Styling */
/* CSS do cabeçalho */
header {
    width: 100vw;
    height: 10vh;
    background-color: #2C5555;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}

.logo {
    width: 15vw;
    margin-left: 0;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
}

.profile, .logout {
    display: flex;
    align-items: center;
    margin-right: 30px;
    padding: 0;
}

.profile img, .logout img {
    width: 2vw;
    margin: 0;
}

.logout a {
    display: flex;
    align-items: center;
    text-decoration: none;
}


/* Main Section Styling */
.main-section {
    display: flex;
    flex-direction: column;
    max-width: 95vw;
    margin: 0 auto;
    padding: 0 120px 0 120px;
}

.titulo {
    font-size: 75px;
    color: #2C5555;
    margin-bottom: 20px;
    margin-left: 0;
}

/* Container Styling */
.container-funcoes, .container-solicitado {
    display: flex;
    gap: 20px; /* Espaço entre os elementos */
}

.container-funcoes{
    margin-bottom: 40px;
}

.container-atalho, .container-notificacao, .historico, .mais-solicitado {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.container-notificacao{
    width: 40vw;
    height: 450px;
}

.historico{
    width: 20vw;
    height: 450px;
    margin-right: 40px;
}

.mais-solicitado{
    width: 40vw;
    height: 400px;
    margin: 0 auto;
}

/* Section Titles */
.funcoes {
    font-size: 35px;
    color: #2C5555;
    margin-bottom: 10px;
}

.container-atalho {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20vw;
    height: 450px;
    overflow: hidden;
}

.atalho {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.atalho button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 300px;
    border: none;
    cursor: pointer;
    background: linear-gradient(27deg, rgba(211, 205, 205, 1) 0%, rgba(241, 241, 241, 1) 100%);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.atalho button a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    font-size: 20px;
    color: #2C5555;
    padding: 10px;
}

.atalho button img {
    width: 150px;
    margin-bottom: 10px;
}

.perfil {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 20vw;
    height: 100vh;
    position: absolute;
    top: 10vh;
    right: 0;
    transform: translateX(100%); 
    opacity: 0; 
    transition: transform 0.5s ease, opacity 0.5s ease;
    box-shadow: rgb(0 0 0 / 25%) -13px 1px 28px, rgb(0 0 0 / 22%) -7px 5px 10px;
}

.perfil.aparecer {
    transform: translateX(0);
    opacity: 1; 
}


.perfil h4{
    font-size: 28px;
    margin-top: 36px;
}

.perfil img{
    width: 10vw;
    margin: 36px auto 36px auto;
}

.info-perfil{
    margin-bottom:24px;
}

.buttons-perfil {
    display: flex;
    justify-content: space-between;
}

.buttons-perfil button {
    display: flex;                   
    align-items: center;             
    justify-content: center;         
    width: 8vw;
    height: 5vh;
    border: none;
    color: white;
    margin-right: 5px;
    margin-right: 5px;
    padding: 10px;
    font-size: 10px;           
}

.buttons-perfil button img {
    width: 1.5vw;
    margin-right: 5px;               /* Espaçamento entre imagem e texto */
    object-fit: contain;             /* Garante que a imagem se ajuste bem ao tamanho */
}

.buttons-perfil .editar {
    background-color: #FDB233;
}

.buttons-perfil .deletar {
    background-color: #DF5B35;
}


