/* Configuração geral */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Recuperação de Senha */
body {
    background-image: url("/img/fundo.jpg"); /* Imagem de fundo */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    overflow-x: hidden;
    font-family: sans-serif;
}

/* Centralização de conteúdo */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Logo */
.logo {
    width: 20vw; /* Largura da logo */
    display: block;
    margin: 0 auto; /* Centraliza horizontalmente */
    margin-top: 10px; /* Ajuste para subir a logo mais próximo do topo */
}

/* Título de recuperação de senha */
h2 {
    font-size: 30px;
    text-align: center;
    color: #143021; /* Cor do texto */
    margin-bottom: 10px; /* Reduzido para ficar mais próximo das instruções */
}

/* Texto instrucional */
p {
    text-align: center;
    font-size: 18px;
    color: #333; /* Cor do texto instrucional */
    margin-bottom: 20px; /* Aumentado para espaçamento com o campo de e-mail */
}

/* Caixa de entrada de e-mail */
.input-email {
    background-color: transparent;
    border: none;
    border-bottom: solid 2px #242424;
    display: block;
    width: 25vw; /* Largura da caixa */
    height: 3vh; /* Reduzida a altura para uma linha */
    padding: 0;
    outline: none;
    font-size: 20px;
    color: #000;
    line-height: 1.2;
    margin-bottom: 20px; /* Espaçamento inferior */
}

.input-email::placeholder {
    font-size: 18px;
    color: #242424; /* Cor do placeholder */
}

/* Botão de enviar link de recuperação */
.botao {
    width: 25vw; /* Largura do botão */
    background-color: #E07758; /* Cor de fundo do botão */
    border: none;
    color: white; /* Cor do texto */
    font-size: 20px;
    font-weight: 200;
    padding: 10px 20px; /* Espaçamento interno */
    border-radius: 5px; /* Bordas arredondadas */
    cursor: pointer;
    margin-top: 10px; /* Espaçamento superior */
    display: block;
    transition: background-color 0.3s; /* Efeito de transição */
}

.botao:hover {
    background-color: #d0654b; /* Cor do botão ao passar o mouse */
}
