* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    overflow-x: hidden;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.container .input-container {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 50vw;
    height: 100vh;
    place-content: center;
    place-items: center;
    gap: 10px;
}

form{
    display: flex;
    flex-direction: column;
    place-content: center;
    place-items: center;
    gap: 20px;
}

.select-button{
    display: flex;
    gap: 10px;
}

select{
    height: 5vh;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 8px;
    border: none;
    background-color: #d9d9d9;
    padding: 0 20px;
}

h1{
    color: #2C5555;
    font-size: 50px;
}

button{
    height: 5vh;
    padding: 0 20px;
    border-radius: 8px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    background-color: #2C5555;
    color: white;
    font-weight: 500;
}

input {
    width: 40vw;
    height: 5vh;
    border: none;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    background-color: #d9d9d9;
    padding-left: 20px;
    transition: border 0.3s ease, box-shadow 0.3s ease;
}

input::placeholder {
    font-weight: 900;
    color: #686868;
}

input:focus {
    border: solid 1px #2C5555;
    outline: none;
}

a{
    color: #DF5B35;
    font-weight: 500;
    margin-top: 10px;
}

.container .img-container {
    display: flex;
    background-color: #2C5555;
    width: 50vw;
    height: 100vh;
    place-content: center;
    place-items: center;
}

.container .img-container img {
    width: 700px;
}

@media (max-width: 1600px) {
    .container .img-container img{
        max-width: 100%;
    }
}