<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/adm.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"> 
</head>

<body>
    <header>
        <img src="./img/logoV3.png" alt="Logo do Alimenta Mais" class="logo">
        <div class="buttons-nav">
            <a id="profile"><img src="./img/perfil.svg" alt="Icone de perfil"></a>
            <a href="/"><img src="./img/sair.svg" alt="Icone para Sair"></a>
        </div>
    </header>

    <h1>VALIDAR CADASTRO BENEFICIARIO</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>NOME</th>
                <th>RENDA</th>
                <th>COMPROVANTE</th>
                <th>MEMBROS DA FAMILIA</th>
                <th>AÇÕES</th>
                <th>AÇÕES</th>
            </tr>
        </thead>
        <tbody>
            <tr> 
                <td>1</td> 
                <td>Maria</td>
                <td>1 salario minimo</i></a></td>
                <td><a href="" class="ver">COMPROVANTE<i class="fas fa-eye"></i></td>
                <td>5</td>
                <td><button type="submit" class="excluir"><i class="fas fa-trash"></i></button></td>
                <td><button type="submit" class="aprovar"><i class="fas fa-check"></i></button></td>
            </tr>
        </tbody>
    </table>
</body>

</html>
